.results {
    display: flex;
    justify-content: center;
    align-items: flex-end;

    align-self: flex-end;
    flex: 1;

    margin-bottom: 3em;

    text-align: center;

    font-size: 4em;

    gap: 1.5rem;

    font-weight: normal;

    color: rgb(224, 224, 224);

}

.results .degrees {

    font-size: 1.9em;
}

.results .location-container {
    display: flex;
    flex-direction: column;

}

.results .time {
    font-size: 0.4em;
}


.results .weather-container {
    display: flex;
    flex-direction: column;

}

.results .weather {
    font-size: 0.4em;
}

.results[fadein='1'] {
    animation: fade-in 1.5s;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media (max-width: 1350px) {  
    body {
      font-size: 12px;
    }

    .results {
        margin-bottom: 1.3em;
    }
}

@media (orientation: portrait) and (max-width: 640px) {  
    .results {
        align-self: center;
    }
}